@font-face {
    font-family: Inter;
    src: url(../../assets/fonts/Inter-Bold.ttf)
  }

  @font-face {
    font-family: Inter-extraBold;
    src: url(../../assets/fonts/Inter-ExtraBold.ttf)
  }

body, html{
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    /* background-image: url(../../assets/images/ESTACIONE.png); */
    background-color: #09046a;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /* background-color: rgba(0, 0, 0,0.75); */
    background-blend-mode: overlay;
}

.container{
    width: 100%;
    height: 100%;
}

.title{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: absolute;
    width: 500px;
    height: 50px;
    left: 34%;
    top: 20px;
    background: #F2F2F2;
    border-radius: 20px;
}

.title span{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: black;
}

.results{
   display: flex;
   justify-content: center;
   background-color: white;
   align-items: center;
   overflow-y: scroll;
   opacity: 0.7;
   margin-top: 90px;
   /* height: 380px; */
}

.results-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 350px;
    /* overflow-y: scroll; */
 }

.results .table_list{
    border: 1px #00003c solid;
    border-collapse: collapse;
    width: 90%;
    height: 100px;
    color: #00003c;
    margin-top: auto;
    /* overflow-y: scroll; */
    margin-bottom: 20px;
}

.results .table_list .line_table{
    background-color: white;
}

.results .table_list .line_table th{
    border: 1px #00003c solid;
    background-color: #299ea7;
    padding: 4px;
    position: sticky;
    top: 0;
}

.body_table td{
    text-align: center;
    border: 1px #00003c solid;
}

.body_table td .img_edit{
    display: flex;
    margin-right: 5px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    padding: 2px;
    background-color: white;
}

.body_table td .img_delete{
    display: flex;
    margin-left: 5px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    padding: 2px;
    background-color: white;
}

.body_table td a {
    display: inline-block;
    justify-content: space-between;
    align-items: flex-start;
}

.container-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 30px;
}

.container-buttons a:link{
    text-decoration: none;
}

.btn-report {
    margin-right: 10px;
}

.btn-report button{
    display: flex;
    justify-content: center;
    border: none;
    font-style: normal;
    font-weight: 900;
    color: #fff;
    align-items: center;
    width: 200px;
    height: 60px;
    font-size: 20px;
    background: #299ea7;
    border-radius: 20px;
    cursor: pointer;
    padding: 15px;
}

.btn-report button:hover{
    background-color: #30bbc5;
    transition: 0.4s ease-in-out;
}

.btn-car-register button{
    display: flex;
    border: none;
    font-style: normal;
    justify-content: center;
    font-weight: 900;
    color: #fff;
    align-items: center;
    width: 200px;
    height: 60px;
    font-size: 20px;
    background-color: #1e34fd;
    border-radius: 20px;
    cursor: pointer;
}

.btn-car-register button:hover{
    background-color:  #4657f0;
    transition: 0.4s ease-in-out;
}

.btn-exit button{
    display: flex;
    border: none;
    font-style: normal;
    justify-content: center;
    font-weight: 900;
    color: #fff;
    align-items: center;
    width: 200px;
    height: 60px;
    font-size: 20px;
    background-color: #d42323;
    border-radius: 20px;
    cursor: pointer;
}

.btn-exit button:hover{
    background-color:  #e61414;
    transition: 0.4s ease-in-out;
}

